.slider {
    -webkit-appearance: none;
    width: 40%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .slidecontainer span
  {
    background: #cacbcc;
    padding: 2px;
    border-radius: 10px;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
  }
  .slider::-webkit-slider-thumb:hover{
      transform: scale(1.2)
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  .slidecontainer span.trans{
    background-color: #b3e68c8c;
    font-weight: bold;
    flex-basis: 30%;
    text-align: center;
  }
  .adjust-main-container .slider{
    -webkit-appearance: none;
    width: 60%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
   
  }
  .adjust-main-container .slidecontainer {
    display: flex;
    align-items: center;
    flex-basis: 30%;
    text-align: center;
  }
  .adjust-main-container .slidecontainer:not(:first-child){
    margin-top: 15px;
  }
  .slidecontainer > span:not(.trans){min-width: 32px;}

